<footer class="footer mt-5 pt-4 pb-2" style="background-color: #00000025; text-align: center;">
    <div class="container" style="background-color: #00000025;">
        <div class="row">
            <div class="col-md-4">
                <h5>Contacto</h5>
                <p>Email: contacto@edumusica.com</p>
                <p>Teléfono: +54 123 456 7890</p>
                <p>Dirección: Av. de la Música 123, Buenos Aires, Moreno</p>
            </div>
            <div class="col-md-4">
              <h5>Síguenos</h5>
              <ul class="list-inline">
                  <li class="list-inline-item">
                      <a href="https://www.facebook.com" target="_blank">
                          <i class="fab fa-facebook-f"></i>
                      </a>
                  </li>
                  <li class="list-inline-item">
                      <a href="https://www.twitter.com" target="_blank">
                          <i class="fab fa-twitter"></i>
                      </a>
                  </li>
                  <li class="list-inline-item">
                      <a href="https://www.instagram.com" target="_blank">
                          <i class="fab fa-instagram"></i>
                      </a>
                  </li>
              </ul>
            </div>
            <div class="col-md-4">
                <h5>Sobre Nosotros</h5>
                <p>Edumúsica es una plataforma dedicada a apoyar a los profesores de música en sus tareas administrativas y pedagógicas. ¡Únete a nuestra comunidad!</p>
            </div>
        </div>
        <hr>
        <div class="text-muted">
            <p>&copy; 2024 Edumúsica. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>